@value primary-color: #eb5757;
@value bg-color: white;

.header {
  padding-top: 46px;
  padding-left: 0;
  padding-right: 0;
}

.header :global(.ant-page-header-heading-title) {
  font-size: 36px;
  letter-spacing: -0.02em;
}

.row {
  margin-bottom: 16px;
}

.icons {
  font-size: 40px;
  margin-right: 16px;
}

.text {
  color: primary-color;
  font-size: 20px;
  letter-spacing: 0.02em;
}
