@value primary-color: #eb5757;
@value bg-color: white;

.flex {
  display: flex;
  align-items: center;
}

.layout {
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  background: primary-color;
  height: auto;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header .title {
  margin: 0;
  color: bg-color;
}

.header .title a {
  display: block;
  color: bg-color;
  transition: opacity 300ms ease-out;
}
.header .title a:hover {
  opacity: 0.6;
}

.content {
  background: bg-color;
  padding: 50px;
}

.footer {
  display: flex;
  align-items: center;
  background: bg-color;
}

@media only screen and (max-width: 576px) {
  .header,
  .content,
  .footer {
    padding-left: 24px;
    padding-right: 24px;
  }
}
