@value primary-color: #eb5757;
@value bg-color: white;

.flex {
  display: flex;
  align-items: center;
}

.layout {
  min-height: 100vh;
  background: transparent;
}

.header {
  display: flex;
  align-items: center;
  background: primary-color;
  height: auto;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header .title {
  margin: 0;
  color: bg-color;
}

.header .title a {
  display: block;
  color: bg-color;
  transition: opacity 300ms ease-out;
}
.header .title a:hover {
  opacity: 0.6;
}

.content {
  background: transparent;
  padding: 0 50px;
  z-index: 10;
}

.footer {
  display: flex;
  align-items: center;
  background: bg-color;
  position: relative;
}

.footer > * {
  z-index: 10;
}

.footer:before {
  content: "";
  position: absolute;
  width: 480px;
  height: 240px;
  bottom: 16px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 0;

  background: url("/bench.png") no-repeat bottom center;
  background-size: 100%;
  object-fit: fill;
}

.footer:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 16px;
  background: url("/footer-pattern.png") repeat-x;
  background-size: auto 24px;
}

@media only screen and (max-width: 576px) {
  .header,
  .content,
  .footer {
    padding-left: 24px;
    padding-right: 24px;
  }
}
